*{
    background-attachment: fixed;
    background-image: url("https://bit.ly/2U6oNV6");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* height: 100vh; */
}
